/* input:checked + label {
    color: red;
}

input:not(:checked) + label {
    color: blue;
} */

.active {
    color: red;
}

.inactive {
    color: blue;
}

.question-container {
    margin-bottom: 20px;
}

.result {
    display: none;
    margin-top: 20px;
}